# Python
*.py[cod]
__pycache__/
*.so

# Report files
/Reports/

# Environment variables
.env

# Virtual environments
venv/
*.env

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
.eggs/
.Python

# Migrations
alembic/versions/

# Logs
*.log

# Others
.DS_Store
*.sqlite3
